<mat-card>
    <mat-card-header>
        <mat-card-title>
            <h3>To-Do</h3>
            <mat-form-field  class="ml-2">
            <mat-label>filter</mat-label>
                <input matInput [(ngModel)]="term" name="term" role="textbox" contenteditable="true">
            </mat-form-field>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <ng-container *ngIf="list.length else noContent" >
            <div class="animation">
                <mat-card *ngFor="let task of list | search:term" class="todo">
                    <mat-card-actions align="end">
                        <button mat-raised-button color="primary"(click)="goToDetail.emit(task.id)">MODIFY</button>
                        <button mat-raised-button color="warn" (click)="deleteTodo.emit(task)">REMOVE</button>
                    </mat-card-actions>
                    <mat-card-header>
                        <mat-card-title>{{ task.label }}</mat-card-title>
                        <mat-card-subtitle>{{ task.description}}</mat-card-subtitle>
                    </mat-card-header>
                    <div class="main">
                    <mat-chip-list>
                        <mat-chip [color]="task.done ? 'primary' : 'secondary'">
                            <p>Completed : {{ task.done }}</p>
                        </mat-chip>
                        <mat-chip color="primary">
                            <p>id: {{ task.id }}</p>
                        </mat-chip>
                        <mat-chip color="primary">
                            <p>category: {{ task.category }}</p>
                        </mat-chip>
                    </mat-chip-list>
                    </div>
                </mat-card>
            </div>
        </ng-container>
        <ng-template #noContent>
            <p>No To-Do scheduled !! Please start adding new To-Do's</p>
        </ng-template>
    </mat-card-content>
</mat-card>