mat-toolbar {
  margin-bottom: 1em;
    // background-image: url("note.jpg");
  background-color: black;
  display: flex;
  justify-content: center;
  
}
.footer-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  font-family: 'Courier New', Courier, monospace;
}
h1{
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: xx-large;
  text-decoration-line:underline;
  color: rgb(255, 255, 255);
}